<% layout("/layouts/boilerplate.ejs") %>
<div class="row">
  <div class="col-8 offset-2">
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
      <lable for="title" class="form-lable\">Title</lable>
      <input name="listing[title]" value="<%= listing.title %>" type="text"  required/></div>
      <div class="mb-3">
      <lable for="description" class="form-lable\">description</lable>
      <textarea name="listing[description]" required>
<%= listing.description %> </textarea
      ></div>
      <div class="mb-3">
        original Listing image<br>
        <img src="<%= originalImageUrl %>"></div>
     
      <div class="mb-3">
      <lable for="image" class="form-lable\">Image</lable>
      <input name="listing[image]"  type="file" /></div>
      <div>
      <lable for="price" class="form-lable\">price</lable>
      <input name="listing[price]" value="<%= listing.price %>" type="number" required/></div>
      <div class="mb-3">
      <lable for="country" class="form-lable\">country</lable>
      <input
        name="listing[country]"
        value="<%= listing.country %>"
        type="text"
        required
      /></div>
      <div class="mb-3">
      <lable for="location" class="form-lable\">location</lable>
      <input
        name="listing[location]"
        value="<%= listing.location %>"
        type="text"
        required
      /></div>
      <br /><br />
      <button class="btn btn-dark">Edit</button>
    </form>
  </div>
</div>
<script src="/js/script.js"></script>


  
